{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block application_styles -%}
{{super()}}
<style type="text/css">
    .well.sidebar-nav{
        position: fixed;
    }

    .column {
        height: 100%;
        overflow: auto;

    }

    #sidebar {
        padding-top: 30px;
        padding-left: 40px;
        padding-right: 40px;

        border: 1px;
        height: 100%;
    }

    #recipe_update {

    }

</style>
{% endblock %}

{% block application_content %}
    <div class="col-xs-12 col-sm-9" style="padding-left: 0px;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Recipe Name</th>
                    <th scope="col">Ingredients</th>
                    <th scope="col">Shaker?</th>
                </tr>
            </thead>
            <tbody>
        {% for recipe in recipes %}
            {% include '_recipe.html' %}
        {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="column col-xs-6 col-sm-3 sidebar-offcanvas sidebar-nav-fixed" id="sidebar">
        <form class="form-horizontal" action="{{ url_for('main.index') }}" method="POST">
            {% for alcohol in alcohols %}
                <input type="checkbox" class="form-check-input" name="alcohols_filter" value="{{ alcohol.name }}"> {{alcohol.name}}
                <br />
            {% endfor %}
            <button type="submit" class="btn" style="margin-top: 10px;">Search</button>
        </form>
    </div>
{% endblock %}

{% block application_scripts %}
{{super()}}
<script>

</script>
{% endblock %}